.main-sidebar{
  background: #242A41;
  height: 100vh;
  position: relative;
}
.sidebar-logo{
  padding: 16px;
}
.sidebar-list{
  margin: 0;
  padding: 0;
  background: transparent;   
  border: none; 
}
.sidebar-list li a{
  margin:0 !important;
  padding: 10px 16px !important;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.sidebar-list li:hover{
  color: #fff;
  background-color:#243D4A;
}

.sidebar-list li.active{
  background-color:#243D4A;
  color: #22B27E;
}
.sidebar-list li.active a{
  color: #22B27E;
}
.sidebar-list li a .ant-image-img{
  margin-right: 15px;
  width: 16px;
}
.sidebar-list li .img-active{
  display: none;
}
.sidebar-list li .img-default{
  display: inline;
}
.sidebar-list li.active .img-active{
  display: inline;
}
.sidebar-list li.active .img-default{
  display: none;
}
.main-sidebar hr{
  border: none;
  border-top: 1px solid #3A3F54;
} 
.sidebarBottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.ant-progress-inner {
  background-color: #EEEEF0;
}
.sidebar-list .ant-menu-title-content .ant-image{
  position: relative;
  top: -2px;  
}
.sidebar-list .ant-menu-title-content span{
  margin-left: 5px;
}
.main-pad{
  padding: 15px;
  background: #F4F4F4;
  min-height: calc(100vh - 120px);
}
.img-export{
  position: relative;
  top: -1px;
}
.btn-icon-round{
  cursor: pointer;
}
.ant-dropdown-open.btn-icon-round, .btn-icon-round:hover{
  background: #EEF2FB;
  border-radius: 100%;
}

/* table1 css */
.table-1 thead tr th{
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #101828;
  padding: 10px 15px;
  background: #DCDFE9;
}
.table-1 thead tr:hover th{
  border-right: 1.25px solid #CBCED8;
}
.table-1 thead tr:hover th:last-child{
  border-right: none
}
.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
  content: none;
}
.table-1 table{
  max-width: calc(100vw - 220px);
  overflow: auto;
}
.table-1 tbody tr td{
  padding: 12px 15px;
}
.table-1 tbody tr td, .table-1 tbody tr td p, .table-1 tbody tr td span{
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #101828;
  margin-bottom: 0;
}
.table-1 tbody tr td button.ant-btn span{
  font-weight: 600;
  font-size: 12px;
  color: #101828;
  letter-spacing: 0.01em;
}
.table-1 tbody tr td button.ant-btn{
  min-width:110px;
  border-radius: 4px;
  padding: 0px 5px;
}
.table-1 tbody tr td button.ant-btn:not([disabled]):hover {
  text-decoration: none;
  background: #dfdfdf;
  border-color: #dfdfdf;
}
.table-1 tbody tr td h3{
  font-weight: 600;
  font-size: 13px;
  color: #101828;
  margin-bottom: 2px;
}
.table-1 button.ant-btn.btn-icon-round{
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  min-width:30px;
  box-shadow: none;
  background: #F0F2F4;
  border-radius: 5px;
}
.table-1 button.ant-btn.btn-icon-round img{
  position: relative;
  top: -2px;
}
.table-1 button.ant-btn.btn-icon-round svg{
  fill: #667085
}
.status{
  font-weight: 500;
  font-size: 13px;
  padding: 4px 12px;
  border-radius: 70px;
}


.status.dark-purple{
  color: #161B89;
  background: #EDECFF;
}
.status.light-purple{
  color: #5F45E2;
  background: #F7F2FF;
}
.status.dark-green{
  color: #297474;
  background: #EAF8F8;
}
.status.red{
  color: #C0566A;
  background: #FFE1E7;
}
.status.blue{
  color: #3782E3;
  background: #E7F1FF;
}
.status.light-green{
  color: #1E7E5E;
  background: #EAF8F3;
}
.status.orange{
  color: #C87B22;
  background: #FFF9F2;
}
.status.cyan{
  color: #147FBB;
  background: #CDEAFA;
}
.status.yellow{
  color: #C37B0F;
  background: #FFE9C8;
}

.header{
  padding: 12px 16px;
  background: #fff;
}
.header h1{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #183047;
  margin-bottom: 0;
}

.header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
}
.header-right{
  display: flex;
  justify-content: flex-end;
}

/* create documents */

.doc-main-tab{
  display: inline-block;
  margin: 0;
  padding: 0;
}
.doc-main-tab li{
  display: inline-block;
  margin-right: 40px;
  position: relative;
}
.doc-main-tab li:last-child{
  margin-right: 0;
}
.doc-main-tab li a span{
  background: #EEEEF0;
  border-radius: 100px;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  color: #777C8C;
  text-align: center;
  padding-top:3px;
}
.doc-main-tab li a{
  color: #777C8C;
  font-weight: 600;
  font-size: 12px;
}
.doc-main-tab li.active a{
  color: #587DDB;
}
.doc-main-tab li.active a span{
  background: #587DDB;
  color: #fff;
}
.doc-main-tab li:before{
  content: url('../public/images/Arrow/tab-right-blue.svg');
  position: absolute;
  top: 2px;
  left:-25px;
  filter: grayscale(1);
}
.doc-main-tab li:first-child::before{
  content: none;
}
.doc-main-tab li.active:before{
  filter: grayscale(0);
}
.b-header{
  padding: 20px 16px;
  border-bottom: 1px solid #EEEEF0;
}
.b-body{
  padding: 50px;
}
.template-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 34px 12px;
  margin-top: 20px;
}
.template-grid figure{
  position: relative;
  background: #EEEEF0;
  padding: 8px;
  text-align: center;
}
.template-grid figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all;
}
.template-grid figure:hover figcaption{
  visibility: visible;
  opacity: 1;
  transition: 0.3s all;
}
.template-grid figcaption:after{
  content: '';
  position: absolute;
  background: #E2E2E4;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.template-grid figcaption button{
  z-index: 9;
}
.ant-upload.ant-upload-select-picture-card, .ant-upload-list-picture-card-container{
  width: calc(100% / 4 - 24px);
  height: 232px;
}
.ant-upload.ant-upload-select-picture-card p:last-of-type{
  display:none
}
.ant-upload.ant-upload-select-picture-card.ant-upload-select:only-child{
  width: 100%;
  height: 445px;
}
.ant-upload.ant-upload-select-picture-card.ant-upload-select:only-child p:last-child{
  display: block;
}
.ant-upload-list-picture-card-container {
  margin: 0 24px 24px 0;
  vertical-align: middle;
}

.ant-tabs-left .ant-tabs-tab .ant-tabs-tab-btn{
  color: #2B313F;
}
.ant-tabs-left .ant-tabs-tab.ant-tabs-tab-active {
  background: #DEE5F8;
}
.ant-tabs-left .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #2B313F;
}
.ant-tabs-left .ant-tabs-tab .ant-tabs-tab-btn svg{
  margin-right: 15px;
}
.ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover{
  background: #F5FAFF;
}
.ant-table-tbody > tr > td {
  border-bottom: 5px solid #F4F4F4;
}
.custom-search-wrap{
  width: 400px;
}
.custom-list{
  width: 90px !important;
}
.custom-list .ant-select-selector{
  border-radius: 5px 0px 0px 5px !important;
  height: 36px !important;
  border:1px solid #E0E0E0 !important;
}
.custom-search{
  width: 310px !important;
}
.custom-search .ant-select-selector{
  border-radius: 0px 5px 5px 0px !important;
  height: 36px !important;
  border:1px solid #E0E0E0 !important;
}
.custom-search .ant-select-selection-search-input{
  height: 36px !important
}
.custom-search-wrap .ant-select-single .ant-select-selector .ant-select-selection-item, 
.custom-search-wrap .ant-select-single .ant-select-selector .ant-select-selection-placeholder{
  line-height: 34px !important
}
.custom-search .ant-select-selection-search-input, 
.custom-search .ant-select-selection-placeholder{
  padding-left: 20px !important;
}
.custom-search .ant-select-selection-search:before{
  content: url('../public/images/search.svg');
  position: absolute;
  left: 0px;
  top: 7px;
  z-index: 2;
}
.ant-pagination .ant-select-arrow {
  position: relative;
}
.ant-pagination .ant-select-arrow .anticon-down{
  display: none;
}
.ant-pagination .ant-select-arrow::after{
  content: url('../public/images/dropdown.svg');
  position: absolute;
  right: 0px;
  top: -18px;
  z-index: 2;
}
.ant-pagination .ant-select-arrow::after{
  content: url('../public/images/dropdown2.svg');
  top: -16px;
}
 .react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

/* new job */
.popup-header{
  background: #242A41;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.popup-header h2{
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 0;
}
.new-job-grid-wrap{
  display: grid;
  grid-template-columns: 480px 1fr;
}
.new-job-left{
  height: calc(100vh - 70px);
  padding: 20px;
}
.upload-part-1{
  background: #fff;
  min-height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
}
.upload-part-2{
  padding: 20px;
  min-height: calc(100vh - 55px);
  background: #fff;
}
.ant-upload.ant-upload-drag{
  background: #fff;
  border: none;
}
.new-job-right .ant-upload-list{
  padding: 20px;
  border: 1px solid #ECECEC;
  border-radius: 5px;
  background: #fff;
}

/* job detail */
.job-detail-left{
  height: calc(100vh - 50px);
  padding: 20px;
  background: #FFFFFF;
}
.job-detail-left h5{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}
.job-detail-left h4{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}
.job-detail-left h3{
  font-weight: 600;
  font-size: 16px;
  color: #101828;
}
.job-detail-left ul{
  margin: 0;
  padding: 0;
}
.job-detail-left ul li{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: #F3F8FA;
  border-radius: 2px;
  margin-bottom: 8px;
  padding: 4px 10px;
}
.job-detail-left ul li:nth-child(even){
  background: #FBFEFF;;
}
.job-detail-left ul li:last-child{
  margin-bottom: 0;
}
.job-detail-left ul li p{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
  margin-bottom: 0;
}
.job-detail-left ul li span{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #101828;
}
.job-detail-right{
  background: #FFFFFF;
  padding: 20px;
  border-left: 1px solid #F2F2F2;
}
.detail-main-title{
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #101828;
  margin-bottom: 0;
}
.conversion-title{
  background: #EAF0F3;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #101828;
  letter-spacing: 0.02em;
}
.file-row{
  background: #F2F2F2;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.file-row.outline{
  background: #FFFFFF;
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}
.file-row h4{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
  margin-bottom: 5px;
}
.file-row h6{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
  color: #676767;
}
.status-percentage{
  display: flex;
}
.status-text{
  font-weight: 400;
  font-size: 12px;
  color: #8A8A8A;
  margin: 0 8px;
}
.percentage-text{
  font-weight: 400;
  font-size: 12px;
  color: #8A8A8A;
}
.total-target{
  background: #DBDDE4;
  border-radius: 5px;
  padding:10px 20px;
}
.image-close .ant-image{
  margin-left: 50px;
}
.file-loading{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  right: 100%;
  background: #fff;
  z-index: 999;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.custom-drawer .ant-drawer-header{
  background: #242A41;
  color: #FFFFFF;
  padding: 13px 24px;
}
.custom-drawer .ant-drawer-header .ant-drawer-title{
  background: #242A41;
  color: #FFFFFF;  
}
.custom-drawer .ant-drawer-header .ant-drawer-header-title{
  flex-flow: row-reverse !important;
}
.custom-drawer .ant-drawer-header .ant-drawer-close{
  margin: 0;
}
.custom-drawer .ant-drawer-header .ant-drawer-close svg{
  fill: #fff;
}
.custom-drawer .ant-drawer-body{
  padding: 0;
}
.custom-drawer .form-wrap{
  height: calc(100vh - 49px);
}
.form-footer{
  background: #F4F4F4;
  border-top: 1px solid #CECECE;
  padding: 16px;
  text-align: right;
}
.form-div{
  height: calc(100vh - 120px);
  padding: 20px 20px 0 20px;
  overflow-y: auto;
}
.drawer-detail-wrap{
  height: calc(100vh - 50px);
  padding: 20px;
}

.drawer-detail-wrap h5{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}
.drawer-detail-wrap h4{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}
.drawer-detail-wrap ul{
  margin: 0;
  padding: 0;
}
.drawer-detail-wrap ul li{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: #F3F8FA;
  border-radius: 2px;
  margin-bottom: 8px;
  padding: 4px 10px;
}
.drawer-detail-wrap ul li:nth-child(even){
  background: #FBFEFF;;
}
.drawer-detail-wrap ul li:last-child{
  margin-bottom: 0;
}
.drawer-detail-wrap ul li p{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
  margin-bottom: 0;
}
.drawer-detail-wrap ul li span{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #101828;
}
.ant-picker.ant-picker-large{
  border-radius: 5px;
  border-color: #e0e0e0;
  width: 100%;
}
.ant-picker-focused{
  box-shadow: none;
}
.ant-picker-large .ant-picker-input > input {
  font-size: 14px;
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.card-wrap{
  background: #FFFFFF;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #fff;
}
.card-wrap:hover{
  border: 1px solid #E0E0E0;
}
.card-wrap .status{
  cursor: pointer;
}
.btn-icon-dot{
  width: 27px;
  height: 27px;
  background: #F0F2F4;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.card-wrap h3{
  font-weight: 600;
  font-size: 16px;
  color: #101828;
  margin-bottom: 5px;
  width: max-content;
}
.card-wrap h4{
  font-weight: 500;
  font-size: 12px;
  color: #101828;
}
.card-wrap h5{
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #667085;
}
.card-wrap p{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #101828;
}
.modal-detail-wrap h5{
  font-weight: 500;
  font-size: 14px;
  color: #667085;
}
.modal-detail-wrap h4{
  font-weight: 500;
  font-size: 14px;
  color: #101828;
}
.modal-detail-wrap h3{
  font-weight: 600;
  font-size: 16px;
  color: #101828;
}
.filter-list{
  margin-bottom: 15px;
}
.filter-list ul{
  margin: 0;
  padding:0;
  list-style-type: none;
}
.filter-list ul li{
  display: inline-block;
  margin-right: 10px;
  font-weight: 400;
  font-size: 13px;
  color: #101828;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  padding: 4px 10px;
  cursor: pointer;
}
.filter-list ul li.active{
  font-weight: 600;
  font-size: 13px;
  color: #101828;
  background: #CED5F0;
  border: 1px solid #CED5F0;
}
.notification-badge{
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  display: inline-block;
  width: 22px;
  height: 18px;
  background: #454C65;
  border-radius: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}